<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">


	<tx:annotation-driven />

	<context:component-scan base-package="com.acme.core"/>

	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/transexample"/>
		<property name="username" value="postgres"/>
		<property name="password" value="password"/>
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL9Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
		<property name="packagesToScan">
			<array>
				<value>com.acme.core.dao.impl</value>
				<value>com.acme.core.entity</value>
			</array>
		</property>
		<!--<property name="packagesToScan" value="com.acme.core.entity" />-->
	</bean>


	<bean id="transactionManager"
		  class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<bean id="userDao" class="com.acme.core.dao.impl.UserDao">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="springHibernateFluhModeAlways" class="com.acme.spring.SpringHibernateFlushModeAlways">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="userDao" ref="userDao"/>
	</bean>

	<bean id="springHibernateFlushModeAuto" class="com.acme.spring.SpringHibernateFlushModeAuto">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="userDao" ref="userDao"/>
	</bean>

	<bean id="springHibernateFlushModeCommit" class="com.acme.spring.SpringHibernateFlushModeCommit">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="userDao" ref="userDao"/>
	</bean>

	<bean id="springHibernateFlushModeManual" class="com.acme.spring.SpringHibernateFlushModeManual">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="userDao" ref="userDao"/>
	</bean>
</beans>
